20080430/jp.go.aist.rtm.toolscommon/src/jp/go/aist/rtm/toolscommon/model/component.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:jp.go.aist.rtm.toolscommon.model.component="http:///jp/go/aist/rtm/toolscommon/model/component.ecore" xmlns:jp.go.aist.rtm.toolscommon.model.core="http://rtm.aist.go.jp/toolscommon/model/toolscommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="jp.go.aist.rtm.toolscommon.model.component" ecore:package="jp.go.aist.rtm.toolscommon.model.component" targetNamespace="http:///jp/go/aist/rtm/toolscommon/model/component.ecore">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="../../../../../../../../../plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:import namespace="http://rtm.aist.go.jp/toolscommon/model/toolscommon" schemaLocation="core.xsd"/>
  <xsd:element ecore:ignore="true" name="SystemDiagram" type="jp.go.aist.rtm.toolscommon.model.component:SystemDiagram"/>
  <xsd:element ecore:ignore="true" name="AbstractComponent" type="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent"/>
  <xsd:element ecore:ignore="true" name="Component" type="jp.go.aist.rtm.toolscommon.model.component:Component"/>
  <xsd:element ecore:ignore="true" name="ComponentSpecification" type="jp.go.aist.rtm.toolscommon.model.component:ComponentSpecification"/>
  <xsd:element ecore:ignore="true" name="Connector" type="jp.go.aist.rtm.toolscommon.model.component:Connector"/>
  <xsd:element ecore:ignore="true" name="AbstractPortConnector" type="jp.go.aist.rtm.toolscommon.model.component:AbstractPortConnector"/>
  <xsd:element ecore:ignore="true" name="PortConnector" type="jp.go.aist.rtm.toolscommon.model.component:PortConnector"/>
  <xsd:element ecore:ignore="true" name="PortConnectorSpecification" type="jp.go.aist.rtm.toolscommon.model.component:PortConnectorSpecification"/>
  <xsd:element ecore:ignore="true" name="ConnectorSource" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorSource"/>
  <xsd:element ecore:ignore="true" name="ConnectorTarget" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorTarget"/>
  <xsd:element ecore:ignore="true" name="ExecutionContext" type="jp.go.aist.rtm.toolscommon.model.component:ExecutionContext"/>
  <xsd:element ecore:ignore="true" name="InPort" type="jp.go.aist.rtm.toolscommon.model.component:InPort"/>
  <xsd:element ecore:ignore="true" name="LifeCycleState" type="jp.go.aist.rtm.toolscommon.model.component:LifeCycleState"/>
  <xsd:element ecore:ignore="true" name="NameValue" type="jp.go.aist.rtm.toolscommon.model.component:NameValue"/>
  <xsd:element ecore:ignore="true" name="OutPort" type="jp.go.aist.rtm.toolscommon.model.component:OutPort"/>
  <xsd:element ecore:ignore="true" name="Port" type="jp.go.aist.rtm.toolscommon.model.component:Port"/>
  <xsd:element ecore:ignore="true" name="PortProfile" type="jp.go.aist.rtm.toolscommon.model.component:PortProfile"/>
  <xsd:element ecore:ignore="true" name="ServicePort" type="jp.go.aist.rtm.toolscommon.model.component:ServicePort"/>
  <xsd:element ecore:ignore="true" name="ConnectorProfile" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorProfile"/>
  <xsd:element ecore:ignore="true" name="ConfigurationSet" type="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet"/>
  <xsd:element ecore:ignore="true" name="EIntegerObjectToPointMapEntry" type="jp.go.aist.rtm.toolscommon.model.component:EIntegerObjectToPointMapEntry"/>
  <xsd:complexType name="SystemDiagram">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="setSynchronizeInterval">
          <parameter name="milliSecond" type="ecore:ELong"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:ModelElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="components" type="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent"/>
        </xsd:sequence>
        <xsd:attribute ecore:unsettable="false" name="kind" type="jp.go.aist.rtm.toolscommon.model.component:SystemDiagramKind"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AbstractComponent">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="updateConfigurationSetListR" type="ecore:EBoolean">
          <parameter name="list" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
          <parameter name="activeConfigurationSet" type="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet"/>
          <parameter name="originallist" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:CorbaWrapperObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="configurationSets" type="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ports" type="jp.go.aist.rtm.toolscommon.model.component:Port"/>
        </xsd:sequence>
        <xsd:attribute name="sDOConfiguration" type="jp.go.aist.rtm.toolscommon.model.component:SDOConfiguration"/>
        <xsd:attribute ecore:reference="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet" name="activeConfigurationSet" type="xsd:anyURI"/>
        <xsd:attribute ecore:changeable="false" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:InPort" ecore:transient="true" ecore:volatile="true" name="inports">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:changeable="false" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:OutPort" ecore:transient="true" ecore:volatile="true" name="outports">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:changeable="false" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:ServicePort" ecore:transient="true" ecore:volatile="true" name="serviceports">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:transient="true" name="rTCComponentProfile" type="jp.go.aist.rtm.toolscommon.model.component:RTCComponentProfile"/>
        <xsd:attribute name="instanceNameL" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:volatile="true" name="venderL" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:volatile="true" name="descriptionL" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:volatile="true" name="categoryL" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:volatile="true" name="typeNameL" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:volatile="true" name="versionL" type="ecore:EString"/>
        <xsd:attribute name="pathId" type="ecore:EString"/>
        <xsd:attribute default="1" ecore:unsettable="false" name="outportDirection" type="ecore:EInt"/>
        <xsd:attribute default="" ecore:opposite="compositeComponent" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent" name="components">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:opposite="components" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent" name="compositeComponent" type="xsd:anyURI"/>
        <xsd:attribute ecore:changeable="false" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:InPort" ecore:transient="true" ecore:volatile="true" name="allInPorts">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:changeable="false" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:OutPort" ecore:transient="true" ecore:volatile="true" name="allOutPorts">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:changeable="false" ecore:derived="true" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:ServicePort" ecore:transient="true" ecore:volatile="true" name="allServiceports">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:unsettable="false" name="compsiteType" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Component">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="startR" type="ecore:EInt"/>
        <operation name="stopR" type="ecore:EInt"/>
        <operation name="activateR" type="ecore:EInt"/>
        <operation name="deactivateR" type="ecore:EInt"/>
        <operation name="resetR" type="ecore:EInt"/>
        <operation name="finalizeR" type="ecore:EInt"/>
        <operation name="exitR" type="ecore:EInt"/>
        <operation name="updateConfigurationSetListR" type="ecore:EBoolean">
          <parameter name="list" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
          <parameter name="activeConfigurationSet" type="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet"/>
          <parameter name="originallist" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="lifeCycleStates" type="jp.go.aist.rtm.toolscommon.model.component:LifeCycleState"/>
        </xsd:sequence>
        <xsd:attribute ecore:transient="true" ecore:unsettable="false" name="executionContextState" type="ecore:EInt"/>
        <xsd:attribute ecore:transient="true" ecore:unsettable="false" name="state" type="ecore:EInt"/>
        <xsd:attribute default="1" ecore:transient="true" ecore:unsettable="false" name="componentState" type="ecore:EInt"/>
        <xsd:attribute ecore:changeable="false" ecore:derived="true" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="allExecutionContextState" type="ecore:EInt"/>
        <xsd:attribute ecore:changeable="false" ecore:derived="true" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:LifeCycleState" ecore:transient="true" ecore:volatile="true" name="allLifeCycleStates" type="xsd:IDREFS"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentSpecification">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="updateConfigurationSetListR" type="ecore:EBoolean">
          <parameter name="list" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
          <parameter name="activeConfigurationSet" type="jp.go.aist.rtm.toolscommon.model.component:ConfigurationSet"/>
          <parameter name="originallist" type="jp.go.aist.rtm.toolscommon.model.component:List"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Connector">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="attachSource"/>
        <operation name="dettachSource"/>
        <operation name="attachTarget"/>
        <operation name="dettachTarget"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="routingConstraint" type="jp.go.aist.rtm.toolscommon.model.component:EIntegerObjectToPointMapEntry"/>
        </xsd:sequence>
        <xsd:attribute ecore:opposite="targetConnectors" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:ConnectorTarget" name="target" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AbstractPortConnector">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="createConnectorR" type="ecore:EBoolean"/>
        <operation name="deleteConnectorR" type="ecore:EBoolean"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:Connector">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="connectorProfile" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorProfile"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PortConnector">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="createConnectorR" type="ecore:EBoolean"/>
        <operation name="deleteConnectorR" type="ecore:EBoolean"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:AbstractPortConnector"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PortConnectorSpecification">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="createConnectorR" type="ecore:EBoolean"/>
        <operation name="deleteConnectorR" type="ecore:EBoolean"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:AbstractPortConnector"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConnectorSource">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="validateConnector" type="ecore:EBoolean">
          <parameter name="target" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorTarget"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:CorbaWrapperObject">
        <xsd:sequence>
          <xsd:element ecore:opposite="source" maxOccurs="unbounded" minOccurs="0" name="sourceConnectors" type="jp.go.aist.rtm.toolscommon.model.component:Connector"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConnectorTarget">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="validateConnector" type="ecore:EBoolean">
          <parameter name="source" type="jp.go.aist.rtm.toolscommon.model.component:ConnectorSource"/>
        </operation>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:CorbaWrapperObject">
        <xsd:attribute ecore:opposite="target" ecore:reference="jp.go.aist.rtm.toolscommon.model.component:Connector" name="targetConnectors">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExecutionContext">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:CorbaWrapperObject">
        <xsd:attribute ecore:unsettable="false" name="kindL" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="rateL" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="stateL" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InPort">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:Port"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LifeCycleState">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="activateR" type="ecore:EInt"/>
        <operation name="deactivateR" type="ecore:EInt"/>
        <operation name="resetR" type="ecore:EInt"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="executionContext" type="jp.go.aist.rtm.toolscommon.model.component:ExecutionContext"/>
        </xsd:sequence>
        <xsd:attribute ecore:reference="jp.go.aist.rtm.toolscommon.model.component:AbstractComponent" name="component" type="xsd:anyURI"/>
        <xsd:attribute ecore:transient="true" ecore:unsettable="false" name="lifeCycleState" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NameValue">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:attribute name="name" type="ecore:EString"/>
        <xsd:attribute name="value" type="jp.go.aist.rtm.toolscommon.model.component:Any"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OutPort">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:Port"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:implements="jp.go.aist.rtm.toolscommon.model.component:ConnectorTarget jp.go.aist.rtm.toolscommon.model.core:CorbaWrapperObject" name="Port">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:ConnectorSource">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="portProfile" type="jp.go.aist.rtm.toolscommon.model.component:PortProfile"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PortProfile">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:sequence>
          <xsd:element ecore:transient="true" maxOccurs="unbounded" minOccurs="0" name="properties" type="jp.go.aist.rtm.toolscommon.model.component:NameValue"/>
        </xsd:sequence>
        <xsd:attribute ecore:transient="true" name="rtcPortProfile" type="jp.go.aist.rtm.toolscommon.model.component:RTCPortProfile"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="allowAnyDataType" type="ecore:EBoolean"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="allowAnyInterfaceType" type="ecore:EBoolean"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="allowAnyDataflowType" type="ecore:EBoolean"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="allowAnySubscriptionType" type="ecore:EBoolean"/>
        <xsd:attribute ecore:reference="jp.go.aist.rtm.toolscommon.model.component:ConnectorProfile" ecore:transient="true" name="connectorProfiles">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="nameL" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServicePort">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.component:Port"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConnectorProfile">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="jp.go.aist.rtm.toolscommon.model.component:NameValue"/>
        </xsd:sequence>
        <xsd:attribute ecore:transient="true" ecore:volatile="true" name="dataflowType" type="ecore:EString"/>
        <xsd:attribute ecore:transient="true" ecore:volatile="true" name="subscriptionType" type="ecore:EString"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="subscriptionTypeAvailable" type="ecore:EBoolean"/>
        <xsd:attribute ecore:changeable="false" ecore:transient="true" ecore:unsettable="false" ecore:volatile="true" name="pushIntervalAvailable" type="ecore:EBoolean"/>
        <xsd:attribute name="name" type="ecore:EString"/>
        <xsd:attribute name="connectorId" type="ecore:EString"/>
        <xsd:attribute ecore:transient="true" ecore:volatile="true" name="dataType" type="ecore:EString"/>
        <xsd:attribute ecore:transient="true" ecore:volatile="true" name="interfaceType" type="ecore:EString"/>
        <xsd:attribute ecore:transient="true" ecore:volatile="true" name="pushRate" type="ecore:EDoubleObject"/>
        <xsd:attribute ecore:transient="true" name="rtcConnectorProfile" type="jp.go.aist.rtm.toolscommon.model.component:RTCConnectorProfile"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConfigurationSet">
    <xsd:complexContent>
      <xsd:extension base="jp.go.aist.rtm.toolscommon.model.core:WrapperObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="configurationData" type="jp.go.aist.rtm.toolscommon.model.component:NameValue"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="ecore:EString"/>
        <xsd:attribute ecore:transient="true" name="sDOConfigurationSet" type="jp.go.aist.rtm.toolscommon.model.component:SDOConfigurationSet"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="EIntegerObjectToPointMapEntry">
    <xsd:attribute name="key" type="ecore:EIntegerObject"/>
    <xsd:attribute name="value" type="jp.go.aist.rtm.toolscommon.model.core:Point"/>
  </xsd:complexType>
  <xsd:simpleType ecore:instanceClass="RTC.ComponentProfile" name="RTCComponentProfile">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="RTC.RTObject" name="RTCRTObject">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="org.omg.CORBA.Any" name="Any">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="java.util.List" name="List">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="_SDOPackage.Configuration" name="SDOConfiguration">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="_SDOPackage.ConfigurationSet" name="SDOConfigurationSet">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="RTC.ConnectorProfile" name="RTCConnectorProfile">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:instanceClass="RTC.PortProfile" name="RTCPortProfile">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SystemDiagramKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:value="1" value="ONLINE"/>
      <xsd:enumeration ecore:value="2" value="OFFLINE"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
